@font-face {
    font-family: Minecraftia;
    src: url('type/minecraftia-webfont.ttf');
}

body {
    margin: 0 auto;
    width: 60%;
    font: 16px 'Helvetica Neue',Helvetica,"Hiragino Sans GB","Hiragino Sans GB W3",Arial,sans-serif;
    color: #494949;
    line-height: 1.5em;
}

a {
    color: #333;
}

a:hover {
    text-decoration: none;
}

h1, h2 {
    font-weight: normal;
    letter-spacing: -0.02em;
}

time {
    color: #494949;
    font-size: 15px;
    margin-left: 10px;
    float:right;
}

code {
    font-family: monospace;
/*    background-color: #eee;*/
}

pre > code {
/*    background-color: transparent; */
}

pre {
    font-size: 13px;
    line-height: 1.2em;
    padding: 5px;
    font-style:normal;
/*    background-color: #eee;*/
}

strong {
    font-weight: bold;
    color: #3686aa;
}
em {
    font-style: italic;
}
small {
    font-size: smaller;
}

p {
    margin: 1em 0;
}

ul, ol {
    margin-left: 40px;
}
ul {
    list-style: disc;
}
ol {
    list-style: decimal;
}

blockquote {
    border-left: 10px solid #aaa;
    margin-left: 10px;
    padding-left: 20px;
}

body > header {
    background-color: #ddd;
    padding: 20px 15px 15px 15px;
    margin: 0 -15px;
    font: 20px Minecraftia;
}

body > header > a {
    margin-right: 0.6em;
    margin-right: 0.6em;
}

footer {
    background-color: #ddd;
    padding: 20px 15px 15px 15px;
    margin: 0 -15px;
    text-align: center;
    font-size: 14px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 5px #888888;
}

.post {
    margin: 30px 0;
}

.post > header {
    padding-bottom: 10px;
}

.post > section > header {
    margin: 5px 0;
}

.backLink {
    display: block;
    margin: 10px 0;
    text-align: right;
}

.post > header > h1 {
    display: inline;
    font-size: 28px;
    font-family: 'Marmelad', sans-serif;
    color: #8d8d8d;
}

.post > section > h2 {
    font-size: 28px;
    margin: 10px 0;
}

.post > section > h3 {
    font-size: 22px;
    margin: 10px 0;
}

.postPreview > header > h1 > a {
    display: inline;
    font-size: 28px;
    font-family: 'Marmelad', sans-serif;
    color: #8d8d8d;
    text-decoration: none;
}

.postPreview {
    margin: 30px 0;
    border-style: solid;
    border-bottom-width: 1px;
}

.postPreview > header {
    margin: 5px 0;
}
.postPreview > header > h1 {
    display: inline;
    font-size: 24px;
}

.followupActions {
    background-color: #ddd;
    padding: 15px;
    margin: 15px -15px;
}

::selection {
 background: #3686aa;
 color: #fff;
}

code.has-jax {font: inherit; font-size: 100%; background: inherit; border: inherit;}